Data/CIFAR10/
Data/Model_Checkpoints
Data/Weights
Data/Runtime/SolutionCache/*
!Data/Runtime/SolutionCache/.gitkeep
Data/Runtime/DeviceResults/*
!Data/Runtime/DeviceResults/.gitkeep
*.pth
*.pt
*.h5
*.ckpt
*.safetensors
*.onnx
*.tar.gz
*.zip
# Python caches and environments
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# PyCharm files
.idea/
.idea
__pycache__
